a:hover{
  text-decoration: none;
  opacity: 2;
}

a{
	font-family:"Open Sans", sans-serif;
  color:black;
}

h5{
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
  font-weight: bold;
}
.tag{
  font-family: 'Cutive Mono', monospace;
}
#nav-bloc {
  margin-top: 30px;
}

.navbar{
	margin-bottom: 0;
}
.navbar-brand{
  margin-top: 4%;
  margin-left: 4%;
  font-size: 50px; 
  font-family: 'Cutive Mono', monospace;

}
.Header-tagline{
  margin-left: 6%;
  font-weight: bold;
  font-family: 'Cutive Mono', monospace;
}
.nav-item .nav-link{
  padding: 2%;
  font-family: 'Cutive Mono', monospace; 
  font-weight: bold;
}

a:active{
  color: black;
}
.fa{
  font-size: 25px;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.nav > li{
	float: left;
	margin-top: 4px;
	font-size: 16px;
}
.nav > li a:hover{
	background:transparent;
}


.card-img-top {
  width: 100%;
  height: 25vw;
}

footer {
    background: #A9A9A9;
    color:black;
    margin-top:50px;
  }
  
  footer a {
    color: black;
    font-size: 14px;
  }
  
  footer a:hover {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 1%;
    border-top: 1px solid #FFFAF0;
  }
  
  .footer-middle {
    padding-top: 1%;
    color: black;
  }
  
  ul.social-network {
    list-style: none;
    display: inline;

  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

 footer .fa-facebook {
  background: #3B5998;
  color: white;
}

footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

footer .fa-google {
  background: #dd4b39;
  color: white;
}

footer .fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
footer  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
 
  
footer  .social-network a {
    background-color: #F9F9F9;
  }
  